---
layout: ""
page_title: "Forem provider"
description: |-
  The Forem provider provides resources to interact with a Forem API.
---

# Forem Provider

The Forem provider provides resources to interact with a Forem API.

In order to use this provider, you must first generate a Forem **API key** under `Settings -> Account`.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
